{% extends 'base.html' %}

{% block content %}
    <div class="content-section">
        
        <form action="" method="POST" autocomplete="off">

            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feeback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}    
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}   
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feeback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}    
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}   
                    {% endif %}
                </div>

                <div class="form-check mt-3">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>
                
            </fieldset>
            <div class="form-group text-center">
                {{ form.submit(class="btn btn-outline-info mt-3")}}
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Don't have an account? <a href="{{ url_for('register') }}" class="ml-3 text-decoration-no">Sign Up</a>
        </small>
    </div>
{% endblock content %}
    
